main {
    .textoPrincipal {
        .colorTitulo {
            color: rgb(0, 204, 255);
        }
    }

    .colorFondo {
        background-color: #3862e0;
        border: none;
        border-radius: 1%;
    }
}